<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/1.css">
</head>
<body>
    <p style="font-size: 40px;">Описание задачи</p>
    <p style="font-size: 30px;">Массив объектов хранит количество и цену товара. <br>Определите суммарную стоимость всех товаров</p>
</body>
</html>