<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/1.css">
</head>
<body>
    <p>Описание задачи</p>
    <p>Массив объектов хранит количество и цену товара. Определите суммарную стоимость всех товаров</p>
</body>
</html>